<form class="form-horizontal" role="form" style="margin-top: 40px">
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Paypal ClientID</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.paypalClientID">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Paypal Secret</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.paypalSecret">
    </div>
  </div>

  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Paypal Sandbox</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.paypalSandbox">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Paypal Sandbox Secret</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.paypalSandboxSecret">
    </div>
  </div>

  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Alipay PartnerID</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.alipayPartnerID">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Alipay RSA Private Key</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.alipayRSAPrivateKey">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">Alipay Security Key</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.alipaySecurityKey">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">IAP Security Key</label>

    <div class="col-sm-4">
      <input required  type="text" class="form-control" ng-model="configure.iapSecurityKey">
    </div>
  </div>
  <div class="col-sm-offset-4" style="padding-left: 5px">
    <button type="submit" class="btn btn-primary" ng-click="saveConfig()">Save</button>
    <button class="btn btn-default col-sm-offset-1" ng-click="restoreConfig()">Restore</button>
  </div>
</form>